@media (max-width: 600px) {
    .ferias {
        flex-wrap: wrap;
    }

    .ferias__card {
        width: 45%;
    }

    .metas form {
        width: 85%;
    }

    .menu__logo {
        img {
            width: 50px;
            height: 50px;
        }

        h1 {
            font-size: 24px;
        }
    }
    
    .menu__item a {
        font-size: 18px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .ferias__card {
        width: 90%;
    }

    .menu {
        padding: 5px 10px;

        h1 {
            margin-left: 10px;
        }

        a {
            padding: 10px;
        }
    }
}