body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    box-sizing: border-box;
}

.menu {
    background-color: #0c4d54;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    img {
        height: 50px;
        width: 50px;
    }
    
    h1 {
        color: #fff;
        margin-left: 20px;
    }
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    transition: color .5s ease-in-out;

    &:hover {
        color: #7fffd4;
    }
}
