body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    box-sizing: border-box;
}

.menu {
    background-color: #0c4d54;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    img {
        height: 50px;
        width: 50px;
    }
    
    h1 {
        color: #fff;
        margin-left: 20px;
    }
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    transition: color .5s ease-in-out;

    &:hover {
        color: #7fffd4;
    }
}

.ferias {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.ferias__card {
    width: 23%;
    /* margin: 1%; */
    margin: 30px 0;

    img {
        width: 100%;
    }

    h2 {
        margin: 10px 0;
    }

    a {
        background-color: #0c4d54;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 7px;
        /* margin-top: 10px; */
        /* display: block; */
    }

    p {
        margin-bottom: 30px;
    }
}

.metas {
    background-image: url(./imagens/fundo.jpg);
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    align-items: center;

    form { 
        background-color: #ffffff98;
        width: 740px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;

        h2 {
            text-align: center;
        }
    }
}

.metas__item {
    margin: 0 20px 20px;
}